<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Main Page</title>
    {% include "shared_links.html" %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  </head>
  <body>
    {% include "navbar.html" %}
  <div id="top" class="jumbotronbig jumbotron-fluid jumboImg">
    <div class="container slide-bottom" id="slogan">

        <h1 class="display-3 text-center ml3" style="color:white">The One Stop Location for Your Book List</h1>
    </div>

    <a href="#page" class="scroll-down">

    	<div class="arrow bounce"></div>
    </a>
  </div>
  <div id="page">
    <h1>Summary Statistics</h1>
    <div class="row">
      <div class="col-md-4">
        <div class = "custom-control" "custom_checkbox">
          <form method="POST">
            {% csrf_token %}
            {{ is_hidden.as_p }}
          </form>
        </div>
      </div>
    </div>
        <div class="row">
        <div class="col-md-4">
        <div class="container-fluid">
          <div class="jumbotron">
            <div align="center">
              <h2>Book List Progression</h2>
              {% if not books_completed and not books_pending %}
              <h4>Your Book List is Empty</h4>
              {% else %}
              <div class="ct-chart ct-perfect-fourth" id="chart1"></div>
              <form action="\books\">
                <input type="submit" class = "btn mb-2 btn-outline-info" value="Your Book List"/>
              </form>

              <script>
              new Chartist.Pie('#chart1',
              { labels: ['Completed', 'To Read'], series: [{{books_completed}}, {{books_pending}}] },
              { labelInterpolationFnc: function(value) { return value[0] } },
              [['screen', { chartPadding: 20, labelOffset: 60, labelDirection: 'explode',
              labelInterpolationFnc: function(value) { return value;}}]]);
                </script>
              {% endif %}
              {% if not books_completed and not books_pending %}
              <form action="\books\">
                <input type="submit" class = "btn mb-2 btn-outline-info" value="Your Book List"/>
              </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="container-fluid">
          <div class="jumbotron">
            <div align="center">
              <h2>Reviews</h2>
              <h6>Star Rating for Each Review</h6>
              {% if not recommended and not not_recommended %}
              <h4>Your Review List is Empty</h4>
              {% else %}
                <div class="ct-chart ct-perfect-fourth" id="chart2"></div>
                <form action="\reviews\">
                  <input type="submit" class = "btn mb-2 btn-outline-info" value="Reviews"/>
                </form>
                <script>
                  new Chartist.Bar('#chart2',
                  {  series:[{{stars}}]},
                  { seriesBarDistance: 10},
                  [['screen', { seriesBarDistance: 5,
                  axisX: { labelInterpolationFnc: function(value){ return value[0];}}}]]);
                  </script>

                {% endif %}
                {% if not recommended and not not_recommended %}
                <form action="\reviews\">
                  <input type="submit" class = "btn mb-2 btn-outline-info" value="Reviews"/>
                </form>
                {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="container-fluid">
          <div class="jumbotron">
            <div align="center">
              <h2>Pages Read</h2>
              <br>
                <h5>Number of Pages You've Read: {{num_pages}}</h5>
                <br>
                <h5>Number of Pages Read by All Users: {{num_pages_overall}}</h5>
                <br>
                <form action="\books\">
                  <input type="submit" class = "btn mb-2 btn-outline-info" value="Book List"/>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
