<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
<a class="navbar-brand text-info" href="{% url 'home' %}">Organizer</a>
<ul class="navbar-nav mr-auto mt-auto">
  <li class="nav-item active">
    <a class="nav-item nav-link text-info"  href="{% url 'books' %}">Books</a>
  </li>

  <li class="nav-item active">
    <a class="nav-item nav-link text-info"  href="{% url 'reviews' %}">Reviews</a>
  </li>
  </ul>

  {% if is_user %}
  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <img src="{{ profile.picture.url }}", class="avatar">
    </button>

    <div class="dropdown-menu">
      <div class="dropdown-container">
        Signed in as<br>
        <strong>{{ user.username  }}</strong>
      </div>

      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/profile/{{ user.username }}">Profile</a>
      <a class="dropdown-item" href="{% url 'createProfile' %}">Update Your Profile</a>
      <a class="dropdown-item" href="{% url 'search_users' %}">Search Other Users</a>
      <div class="dropdown-divider"></div>

      <div class="dropdown-footer">
        <a class="nav-item nav-link text-info" href="/api/v1/" target="_blank">REST API</a>
      </div>
    </div>

    <a class="btn btn-outline-info" href="/logout/" role="button">Logout</a>
  {% endif %}

</nav>
