<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    {% include "shared_links.html" %}
  </head>
  <body>
    {% include "navbar.html" %}
    <!--
    <h1>Profile Page</h1> -->
    <br>
    <div class="container-fluid profileCard first-element">
      <div class="row">
        {% if is_user %}
        {% if is_an_account %}
        <div class="card col-4">
          <div class="profileImage"></div>
          <img src="{{ user_info.UserProfile.picture.url }}" style="width:100%">
          <h1>{{user_info.first_name}} {{ user_info.last_name}}</h1>
          <h3>{{ user_info.username }}</h3>
          <p class="title">{{ user_info.email }}</p>
          <p class="title">{{ user_info.UserProfile.bio }}</p>
        </div>

    <br>
      <div class="col-5">
        <br>
        {% if not is_personal_profile %}
          <h3>{{ user_info.username }}'s Book List:</h3>
          {% if books %}
            <table>
              <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Length</th>
                <th>Completed</th>
              </tr>
              {% for book in books %}
                <tr>
                  <td>{{ book.title }}</td>
                  <td>{{ book.author }}</td>
                  <td>{{ book.genre }}</td>
                  <td>{{ book.length }}</td>
                  <td>{{ book.completed }}</td>
                </tr>
              {% endfor %}
            </table>
            {% endif %} <!-- end of if books of not personal profile -->
          <h3>{{ user_info.username }}'s Reviews:</h3>
          {% if reviews %}
            <table>
              <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Review</th>
                <th>Stars</th>
                <th>Recommended</th>
                <th>Readability</th>
              </tr>
              {% for review in reviews %}
                <tr>
                  <td>{{ review.book.title }}</td>
                  <td>{{ review.book.author }}</td>
                  <td>{{ review.description }}</td>
                  <td>{{ review.stars }}</td>
                  <td>{{ review.recommendation }}</td>
                  <td>{{ review.readability }}</td>
                </tr>
              {% endfor %}
            </table>
            <br>
          {% endif %} <!-- if reviews of not personal account -->

        {% else %} <!-- if personal account -->
          <h3>Your Book List:</h3>
          {%  if not books %} <!-- end of not personal profile, beginning of if true-->
          <h3>Your Book List is Empty Add to it Here:</h3>
          <a href="/add_book/" class="btn mb-2 btn-outline-info">Add Book</a>
          {% else %} <!-- end of if no books of personal account -->
            <table>
              <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Length</th>
                <th>Completed</th>
                <th>Action</th>
              </tr>
              {% for book in books %}
                <tr>
                  <td>{{ book.title }}</td>
                  <td>{{ book.author }}</td>
                  <td>{{ book.genre }}</td>
                  <td>{{ book.length }}</td>
                  <td><a href="?toggle_completed={{book.id}}">
                    {% if book.completed %}Yes{% else %}No{% endif %}
                  </a></td>
                  <td>
                    <a href="#" class = "btn mb-2 btn-outline-info" onclick="confirmDeleteModal({{book.id}})">Delete Book From Reading List</a>
                  </td>
                </tr>
              {% endfor %}
            </table>
            {% endif %} <!-- end of if books of personal profile -->
          {% if not reviews %}
            <h3>You Have No Reviews Add One Here:</h3>
            <a href="/add_review/" class="btn mb-2 btn-outline-info">Add Review</a>
          {% else %} <!-- end of if no reviews of personal profile -->
          <h3>Your Reviews:</h3>
            {% if reviews %}
              <table>
                <tr>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Review</th>
                  <th>Stars</th>
                  <th>Recommended</th>
                  <th>Readability</th>
                  <th>Action</th>
                </tr>
                {% for review in reviews %}
                  <tr>
                    <td>{{ review.book.title }}</td>
                    <td>{{ review.book.author }}</td>
                    <td>{{ review.description }}</td>
                    <td>{{ review.stars }}</td>
                    <td>{{ review.recommendation }}</td>
                    <td>{{ review.readability }}</td>
                    <td>
                      <a href="#" class = "btn mb-2 btn-outline-info" onclick="confirmDeleteModal({{book.review.id}})">Delete Review</a>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            {% endif %} <!-- end of if reviews of personal profile -->
          {% endif %}
          {% endif %}


        {% elif not is_an_account %}  <!-- end of if account, beginning of not account  -->
          <a href="{% url '' %}" class="btn mb-2 btn-outline-info">This user does not exist. Return to the home page.</a>
        {% endif %}  <!-- end of if not account -->


        {% endif %}  <!-- end of if not user  -->
      </div>
    </div>
    </div>

  </body>
</html>
